// 主色
$primary-color = #202D46
// 辅助色
$secondary-color = #7BB7B2
// 强调色
$accent-color = #162032
// 辅助色2
$secondary-color-2 = #D8D8D8
// 辅助色3
$secondary-color-3 = #697FA9
$secondary-color-4 = #F8FBFF
$secondary-color-5 = #E4EAF1

// 字体主色

$primary-font-color = #FFF
// 字体强调色
$accent-font-color = #C1E5E2
// 字体辅助色
$secondary-font-color = #2c4675
$secondary-font-color-2 =#8b93a0
// 字体深色
$dark-font-color = #435473

// 背景色
$primary-background-color = #485367

$font-size-mn = 12px
$font-size-xs = 14px
$font-size-sm = 16px
$font-size-md = 24px
$font-size-lg = 26px
$font-size-xl = 32px

$space-base = 8px
